<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

<section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

<object align="right"> <a target="_top" style="border: 0 none;" href="http://www.gofundme.com/1y15a4?utm_medium=wdgt" title="Visit this page now."><img style="border: 0 none;" src="http://funds.gofundme.com/css/3.0_donate/red/widget.png"></a>
</object>
</div>